<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VET HEALTH</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
<div class="containe">
    <div class="logo">
        <div class="title-logo roboto-regular">
            BIENVENIDOS A 
        </div>
        <div class="img-logo">
            <img src="vet.png" alt="">
        </div>
        <a th:href="@{/ingresar}" class="entrar">INGRESAR</a>    
    </div>
</div>
</body>
</html>
